{% extends 'app_shop/../base.html' %}
{% load main_page_tags %}
{% load static %}

{% block title %}Бесплатная доставка суши, роллов | Ninja Sushi - Меню{% endblock %}
{% block content %}
  <div class="description">
    <h1 class="description__info">ДОСТАВКА СУШИ И РОЛЛОВ</h1>
    <p class="description__promo">Закажи уже сейчас и получи <span class="red-text">скидку 10%</span> на следующий заказ</p>
    <a href="#categories" class="description__order-button-link">
      <div class="description__order-button">
        <p class="description__button-text">Заказать</p>
      </div>
    </a>
  </div>
  <ul class="categories" id="categories">
    {% for category in categories %}
      <li class="categories__item">
        <a href="{{ category.id }}#categories" class="categories__link">{{ category }}</a>
      </li>
    {% endfor %}
  </ul>
  {% block cards %}
    {% for category in categories %}
      <div class="cards">
        <h2 class="cards__category">{{ category.name }}</h2>
        <div class="cards__container">
        {% for product in products|in_category:category|slice:":4" %}
          {% comment %}TODO Убрать затычку сделать вместо нее слайдер{% endcomment %}
          <div class="cards__card">
            <img class="cards__product-image" src="{{ product.image }}" alt="image">
            <p class="cards__product-name">{{ product.name }}</p>
            <p class="cards__product-characteristics">{{ product.weight }} г., {{ product.amount }} шт.</p>
            <p class="cards__product-composition">{{ product.composition }}</p>
            <p class="cards__product-price">{{ product.price }}₽</p>
          </div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endblock %}
  <div class="bottom-info">
    <div class="bottom-info__block">
      <p class="bottom-info__block-header">Контакты</p>
      <p class="bottom-info__address">Россия, Московская область, Балашиха, микрорайон Новое Павлино, Косинское шоссе, 8</p>
      <a href="tel:+79284432232" class="bottom-info__phone">+7 (928) 899 - 94 - 08</a>
      <p class="bottom-info__working-hours">Режим работы с 11:00 до 23:00</p>
    </div>
    <div class="bottom-info__block block-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.7486165877413!2d37.962177116268215!3d55.79760288056534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414acc6ac3f43535%3A0x8d0f1b9884942eea!2sProspekt%20Lenina%2C%2032%D0%94%2C%20Balashikha%2C%20Moskovskaya%20oblast&#39;%2C%20143900!5e0!3m2!1sen!2sru!4v1660661561174!5m2!1sen!2sru" width="650" height="519" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="bottom-info__map"></iframe>
    </div>
    <div class="bottom-info__block">
      <p class="bottom-info__block-header">Получай скидки через рассылку</p>
      <form method="post" class="bottom-info__email-newsletter">
        {% csrf_token %}
        <input type="email" placeholder="Ваша эл.почта" required>
        <input type="submit" value="Подписаться">
        <input type="checkbox" id="accept-checkbox" required>
        <label for="accept-checkbox" class="bottom-info__accept-text">
          Я хочу получать информацию о проводимых акциях и специальных предложениях
        </label>
      </form>
    </div>
    <div class="bottom-info__block block-download">
      <p class="bottom-info__block-header header-download">Скачайте приложение</p>
      <a href="https://www.apple.com/app-store/" target="_blank">
        <img src="{% static "svg/app_shop/app-store-download.svg" %}" alt="app-store" class="bottom-info__download-img">
      </a>
      <a href="https://play.google.com/store/games" target="_blank">
        <img src="{% static "svg/app_shop/google-play-download.svg" %}" alt="google-play" class="bottom-info__download-img">
      </a>
    </div>
  </div>
{% endblock %}