{% extends "app_shop/main_page.html" %}
{% load static %}

{% block cards %}
  <div class="cards">
    <h2 class="cards__category">{{ category.name }}</h2>
    <div class="cards__container">
    {% for product in products %}
      <div class="cards__card">
        <img class="cards__product-image" src="{{ product.image.url }}" alt="image">
        <p class="cards__product-name">{{ product.name }}</p>
        <p class="cards__product-characteristics">{{ product.weight }} г., {{ product.amount }} шт.</p>
        <p class="cards__product-composition">{{ product.composition }}</p>
        <div class="cards__wrapper">
          <p class="cards__product-price">{{ product.price }}₽</p>
          <a href="{% url "app_cart:cart_add_product" product.id %}">
            <div class="cards__add-to-cart-button">
              <img src="{% static "svg/app_shop/add-to-cart-logo.svg" %}" alt="cart">
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}