{% extends "app_shop/main_page.html" %}

{% block cards %}
  <div class="cards">
    <h2 class="cards__category">{{ category.name }}</h2>
    <div class="cards__container">
    {% for product in products %}
      <div class="cards__card">
        <img class="cards__product-image" src="{{ product.image }}" alt="image">
        <p class="cards__product-name">{{ product.name }}</p>
        <p class="cards__product-characteristics">{{ product.weight }} г., {{ product.amount }} шт.</p>
        <p class="cards__product-composition">{{ product.composition }}</p>
        <p class="cards__product-price">{{ product.price }}₽</p>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}