{% extends 'app_shop/base.html' %}
{% load main_page_tags %}

{% block title %}Бесплатная доставка суши, роллов | Ninja Sushi - Меню{% endblock %}
{% block content %}
  <div class="description">
    <h1 class="description__info">ДОСТАВКА СУШИ И РОЛЛОВ</h1>
    <p class="description__promo">Закажи уже сейчас и получи <span class="red-text">скидку 10%</span> на следующий заказ</p>
    <a href="#categories" class="description__order-button-link">
      <div class="description__order-button">
        <p class="description__button-text">Заказать</p>
      </div>
    </a>
  </div>
  <ul class="categories" id="categories">
  {% for category in categories %}
    <li class="categories__item">
      <a href="#" class="categories__link">{{ category }}</a>
    </li>
  {% endfor %}
  </ul>
  {% for category in categories %}
    <div class="cards">
      <h2 class="cards__category">{{ category.name }}</h2>
      {% for product in products|in_category:category %}
        <div class="cards__card">
          <img class="cards__product-image" src="{{ product.image }}" alt="image">
          <p class="cards__product-name">{{ product.name }}</p>
          <p class="cards__product-characteristics">{{ product.weight }} г., {{ product.amount }} шт.</p>
          <p class="cards__product-composition">{{ product.compostition }}</p>
          <p class="cards__product-price">{{ product.price }} ₽</p>
          <button class="cards__cart-button"></button>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}