.description {
  max-width: calc(50% + 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__info {
  text-align: center;
  margin: 176px 0 0;
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 115px;
  
  color: rgba(0, 0, 0, 0.84);
}

.description__promo {
  text-align: center;
  margin: 0 0 35px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.84);
}

.red-text {
  color: #ED1B24;
}

.description__order-button {
  width: 432px;
  height: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: #FFFFFF;
  box-shadow: 0 0 78px rgba(170, 106, 106, 0.2);
  border-radius: 123px;
}

.description__order-button-link {
  transition: 0.25s ease-out;
  text-decoration: none;
}

.description__order-button-link:hover {
  filter: brightness(1.05) drop-shadow(0 0 10px #FFFFFF);
}

.description__button-text {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  color: rgba(0, 0, 0, 0.84);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 200px;
  list-style-type: none;
}

.categories__item {
  margin: 0 20px;
}

.categories__link {
  text-decoration: none;
  transition: 0.5s;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  
  color: #000000;
}

.categories__link:hover {
  filter: invert(30%);
}

.cards {
  margin: 0 10px;
  max-width: 1320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.cards__category {
  width: 100%;
  margin: 50px 0 21px;
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.84);
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 26.5px;
}

.cards__card {
  padding: 0 19px;
  width: 272px;
  height: 383px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: #FFFFFF;
  box-shadow: 0 4px 66px rgba(191, 188, 188, 0.36);
  border-radius: 24px;
}

.cards__product-image {
  object-fit: contain;
  width: 233px;
  height: 188px;
  margin: 0 19px;
}

.cards__product-name {
  margin: 0 0 6px;
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;

  color: #000000;
}

.cards__product-characteristics {
  margin: 0 0 6px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  
  color: rgba(133, 133, 133, 0.5);
}

.cards__product-composition {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  
  color: #4A4A4A;
}

.cards__product-price {
  margin: 5px 0 0;
  display: flex;
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  
  color: #000000;
}

.cards__wrapper {
  margin: auto 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__add-to-cart-button {
  transition: 0.25s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  
  border: 1px solid #FFB7B7;
}

.cards__add-to-cart-button:hover {
  filter: drop-shadow(0 0 3px rgba(255, 183, 183, 1)) invert(5%);
}

.bottom-info {
  margin-top: 201px;
  max-width: 1320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.bottom-info__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 73px 67px;
  gap: 20px;
  width: 516px;
  height: 373px;
  background: #FFFFFF;
  box-shadow: 0 4px 66px rgba(191, 188, 188, 0.36);
  border-radius: 24px;
}


.bottom-info__block-header {
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 90%;
}

.block-map {
  width: 650px;
  height: 519px;
  padding: 0;
}

.bottom-info__map {
  border-radius: 27px;
}

.block-download {
  align-items: center;
  gap: 10px;
}

.header-download {
  margin-bottom: 20px;
}

.bottom-info__download-img {
  width: 350px;
}

.bottom-info__address {
  margin-top: 0;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  
  color: #000000;
}

.bottom-info__phone {
  transition: 0.5s;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.bottom-info__phone:hover {
  filter: invert(30%);
}

.bottom-info__working-hours {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.bottom-info__newsletter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.bottom-info__email-input {
  width: 310px;
  height: 58px;
  padding-left: 25px;
  transition: 0.25s ease-out;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 37px;
  
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;

  color: rgba(0, 0, 0, 0.6);
}

.bottom-info__email-input:focus {
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.8);
}

.bottom-info__email-input::placeholder {
  margin-left: 25px;
}

.bottom-info__submit-button {
  transition: 0.25s ease-out;
  cursor: pointer;
  border: none;
  width: 147px;
  height: 62px;
  background: #FF9999;
  border-radius: 37px;
  
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  
  color: #FFFFFF;
}

.bottom-info__submit-button:hover {
  filter: brightness(1.05) drop-shadow(0 0 3px #FF9999);
}

.bottom-info__accept-checkbox {
  margin-left: 17px;
  width: 15px;
  height: 15px;
}

.bottom-info__accept-text {
  max-width: 460px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  
  color: #000000;
}