{% extends 'base.html' %}
{% load static %}

{% block title %}
  Бесплатная доставка суши, роллов | Ninja Sushi - Заказ №{{ order.id }}
{% endblock %}

{% block css-link %}
  {% static 'css/app_orders/order_history_detail.css' %}
{% endblock %}

{% block content %}
  {% if request.user == order.user %}
    <div class="content-block">
      <p class="big-text">Информация о заказе</p>
      <div class="order-info">
        <p class="big-text fs24">
          Номер заказа: <span class="little-text">#{{ order.id }}</span>
        </p>
        <p class="big-text fs24">
          Дата заказа: <span class="little-text">{{ order.created }}</span>
        </p>
        <p class="big-text fs24">
          Адрес доставки: <span class="little-text">{{ order.get_full_address }}</span>
        </p>
        <p class="big-text fs24">
          Статус заказа: <span class="little-text">{% if order.paid %}Оплачен{% else %}Не оплачен{% endif %}</span>
        </p>
        <a href="{% url 'app_orders:repeat_order' order.id %}">Повторить заказ</a>
      </div>
    </div>
    <div class="content-block">
      <p class="big-text">Состав заказа</p>
      <div class="order-items">
        {% for item in order_items %}
          {% with product=item.product %}
            <div class="card">
              <img src="{{ product.image.url }}" alt="product-image">
              <div class="card__product-description">
                <p class="card__product-name">{{ product.name }}</p>
                <p class="card__product-chars">{{ product.weight }} гр. {{ product.amount }} шт.</p>
                <p class="card__product-composition">{{ product.composition }}</p>
              </div>
              <p class="card__item-price">
                <span class="card__item-price-number">{{ item.price }}₽</span>
                <span class="card__item-price-sign">x</span>
                <span class="card__item-price-number">{{ item.quantity }}</span>
                <span class="card__item-price-sign">=</span>
                <span class="big-text">{{ item.get_cost }}₽</span>
              </p>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
      <p class="big-text">Итого:</p>
      <p class="big-text">{{ order.get_total_cost }}₽</p>
    </div>
  {% else %}
   <p>You are not the order owner</p>
  {% endif %}
{% endblock %}