{% extends 'base.html' %}
{% load static %}

{% block title %}
  Бесплатная доставка суши, роллов | Ninja Sushi - Заказ №{{ order.id }}
{% endblock %}

{% block css-link %}
  {% static 'css/app_orders/order_history_detail.css' %}
{% endblock %}

{% block content %}
  {% if request.user == order.user %}
    <div class="content-block">
      <p class="big-text">Информация о заказе</p>
      <div class="order-info">
        <p class="big-text fs24">
          Номер заказа: <span class="little-text">#{{ order.id }}</span>
        </p>
        <p class="big-text fs24">
          Дата заказа: <span class="little-text">{{ order.created }}</span>
        </p>
        <p class="big-text fs24">
          Адрес доставки: <span class="little-text">{{ order.get_full_address }}</span>
        </p>
      </div>
      <a href="{% url 'app_orders:repeat_order' order.id %}">Повторить заказ</a>
    </div>
    <div class="content-block">
      <p class="big-text">Состав заказа</p>
      <div class="order-items">
        {% for item in order_items %}
          <div class="card">
            <img src="{{ item.product.image.url }}" alt="product-image">

          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
   <p>You are not the order owner</p>
  {% endif %}
{% endblock %}