@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

body {
  margin: 8px 0 0;
  background: #D9D9D9 url("/static/img/background.png") top;
  background-size: auto 6342px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header__logo-text {
  margin-top: 18px;
}

.header__logo {
  width: 380px;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-bar__text-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar__text-link-item {
  margin: 0 25px;
  list-style-type: none;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
}

.nav-bar__text-link {
  transition: 0.5s;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
}

.nav-bar__text-link:hover {
  color: rgba(54, 54, 54, 0.84)
}

.nav-bar__black-delimiter {
  width: 44px;
  height: 0;
  border: 1px solid #000000;
  transform: rotate(90deg);
}

.nav-bar__icon-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.nav-bar__icon-link-item {
  transition: 0.5s;
  margin-left: 38px;
  list-style-type: none;
}

.nav-bar__icon-link-item:hover {
  filter: invert(28%) sepia(0%) saturate(1785%) hue-rotate(163deg) brightness(107%) contrast(81%);
}

.footer {
  margin-top: 202px;
  width: 100%;
  height: 322px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: calc(55% + 150px);
}

.footer__logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer__logo-text {
  margin-left: 25px;
  margin-top: 18px;
}

.footer__nav-bar {
  display: flex;
  align-items: center;
}

.footer__text-link-list {
  padding: 0;
  margin: 0 20px
}

.footer__text-link-item {
  list-style-type: none;
  margin: 5px 15px;
}

.footer__text-link {
  transition: 0.5s;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__text-link:hover {
  color: #cbcbcb;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__contact-phone-link {
  transition: 0.5s;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__contact-phone-link:hover {
  color: #cbcbcb;
}

.footer__contact-address-text {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  
  color: #FFFFFF;
}

.footer__policies_list {
  list-style-type: none;
  padding: 0;
}

.footer__policy-link {
  transition: 0.5s;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  
  color: #808080;
}

.footer__policy-link:hover {
  color: #696969;
}

.footer__icon-link-list {
  width: 222px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__icon-link-item {
  display: flex;
}

