.order {
  margin: 50px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 80px;
  gap: 16px;
  max-width: 1100px;
  background: #FFFFFF;
  box-shadow: 0 4px 66px rgba(191, 188, 188, 0.27);
  border-radius: 50px;
}

.order__big-text {
  margin: 0;
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.84);
}

.order__clear-cart-link {
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.82);
}

.order__cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0;
  gap: 28px;
}

.order__product-card {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  background: #FFFFFF;
  box-shadow: 0 4px 66px rgba(191, 188, 188, 0.27);
  border-radius: 24px;
}

.order__product-image {
  width: 280px;
  height: 225px;
  object-fit: contain;
}

.product-name {
  margin-top: 42px;
}

.order__product-description {
  width: 710px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
}

.order__product-chars {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  
  color: rgba(133, 133, 133, 0.5);
}

.order__product-composition {
  margin: 0;
  max-width: 387px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  
  color: #4A4A4A;
}

.order__product-control {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.order__bin-link {
  transition: 0.5s ease-out;
}

.order__bin-link:hover {
  filter: drop-shadow(0 0 2px rgba(222, 222, 222, 1));
}

.order__quantity-control {
  position: relative;
  bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.order__quantity-control-link {
  display: flex;
  margin-bottom: 3px;
  height: 25px;
  transition: 0.5s ease-out;
}

.order__quantity-control-link:hover {
  filter: drop-shadow(0 0 3px rgba(255, 153, 153, 0.7));
}

.order__minus-icon {
  margin-top: 9px;
  height: 5px;
}

.amount-counter {
  font-size: 20px;
  line-height: 25px;
}

.order__empty-cart-text {
  margin: 60px 0;
  max-width: 571px;
  font-family: Jost, sans-serif;
  font-weight: 500;
  font-size: 31px;
  color: #9b9b9b;
}

.address {
  margin: 27px 20px 0;
  box-sizing: border-box;
  max-width: 1260px;
  padding: 70px 92px;
  background: #FFFFFF;
  box-shadow: 0 4px 66px rgba(191, 188, 188, 0.27);
  border-radius: 50px;
}

.address__big-text {
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 90%;
  color: rgba(0, 0, 0, 0.84);
}

.address__form {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.address__input-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.address__label {
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 90%;
  
  color: rgba(0, 0, 0, 0.84);
}

.address__input {
  font-family: Jost, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.64);
  
  width: 500px;
  height: 30px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.11);
  transition: 0.25s ease-out;
}

.address__input:focus {
  border: none;
  color: rgba(0, 0, 0, 0.84);
  outline: 0;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.31);
  background-color: rgba(0, 0, 0, 0.03);
}

.address__input::placeholder {
  color: rgba(0, 0, 0, 0.13)
}

.input-required:after {
  content: "*";
  color: red;
}

.input-select {
  border-radius: 3px;
  height: 35px;
}

.address__order-button {
  margin-top: 50px;
  width: 480px;
  height: 100px;
  border: none;
  background-color: #FF9999;
  border-radius: 137px;
  cursor: pointer;
  transition: 0.25s ease-out;
  
  
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}

.address__order-button:hover {
  filter: brightness(1.05) drop-shadow(0 0 10px rgba(255, 153, 153, 0.8));
}

.address__price-block {
  margin-right: 27px;
  margin-top: 58px;
  width: 504px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-text-pink {
  color: #FFB7B7;
}

.address__order-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: 0.5s ease-out;
  visibility: hidden;
}

.order-popup-active {
  visibility: visible;
}

.address__popup-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  
  
  box-sizing: border-box;
  width: 550px;
  height: 550px;
  padding: 73px 35px;
  background: #FFFFFF;
  box-shadow: 0 4px 66px rgba(191, 188, 188, 0.27);
  border-radius: 50px;
  
  transition: 0.5s ease-out;
  transform: translate(0, -100%) scale(0.2);
  visibility: hidden;
}

.popup-window-active {
  transform: translate(0, -20%) scale(1);
  visibility: visible;
}

.address__smaller-text {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  
  color: rgba(0, 0, 0, 0.84);
}

.fw700 {
  font-weight: 700;
}

.fw500 {
  font-weight: 500;
    }

.address__main-page-button {
  margin-top: auto;
  transition: 0.25s ease-out;
  cursor: pointer;
  width: 480px;
  height: 60px;
  border: 0;
  color: #FFFFFF;
  background: #FF9999;
  border-radius: 37px;
}

.address__main-page-button:hover {
  filter: drop-shadow(0 0 3px #FF9999);
}

.big-text-pop-up {
  margin: 15px 0;
}

@media (max-width: 1180px) {
  .order__product-control {
    height: 70px;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 50px;
  }
  
  .order__quantity-control {
    bottom: 10px;
  }
  
  .address__price-block {
    margin-right: 0;
  }
  
  .address__order-button {
    margin-top: 0;
  }
}