.account {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 1259px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 66px rgba(191, 188, 188, 0.27);
  border-radius: 50px;
  box-sizing: border-box;
  padding: 80px;
  gap: 50px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.big-text {
  margin: 0;
  font-family: 'Geometria', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 90%;
  
  color: rgba(0, 0, 0, 0.84);
}

.account__link {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.25s ease-out;
  font-weight: 300;
  font-size: 24px;
}

.account__link:hover {
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5)) invert(30%);
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.input-field {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 270px;
  height: 40px;
  padding-left: 10px;
  
  transition: 0.25s ease-out;
  background: rgba(217, 217, 217, 0.28);
  border: 2px solid rgba(0, 0, 0, 0.03);
  border-radius: 9px;
  
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 90%;
  color: rgba(0, 0, 0, 0.4);
}

.input-field:focus {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.84);
}

.input-field::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fs22 {
  font-size: 22px;
}

.fw500 {
  font-weight: 500;
}

.account__button {
  align-self: flex-end;
  width: 270px;
  height: 60px;
  border: 0;
  cursor: pointer;
  transition: 0.25s ease-out;
  
  text-align: center;
  color: #FFFFFF;
  
  background: #FF9999;
  border-radius: 137px;
}

.submit-button:hover {
  filter: drop-shadow(0 0 5px rgba(255, 153, 153, 0.8)) brightness(1.02);
}

.errorlist {
  padding-left: 25px;
  margin: 0;
}

.errorlist > li {
  max-width: fit-content;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.84);
}

.nonfield {
  display: flex;
  align-items: center;
  width: 100%;
}

.nonfield > li {
  max-width: none;
}

.field-required:after {
  content: "*";
  color: rgba(237, 27, 36, 0.84);
}

.order-history {
  max-width: 1259px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 66px rgba(191, 188, 188, 0.27);
  border-radius: 50px;
  box-sizing: border-box;
  padding: 80px;
  gap: 50px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}