{% extends "base.html" %}
{% load static %}

{% block title %}
  Бесплатная доставка суши, роллов | Ninja Sushi - Корзина
{% endblock %}

{% block css-link %}
  {% static 'css/app_cart/cart_page.css' %}
{% endblock %}

{% block content %}
  <div class="order">
    <p class="order__big-text">Мой заказ</p>
    <a href="{% url 'app_cart:cart_clear' %}" class="order__clear-cart-link">Очистить корзину</a>
    <div class="order__cards">
      {% for item in cart %}
        {% with product=item.product %}
          <div class="order__product-card">
            <div class="order__product-description">
            <img src="{{ product.image.url }}" alt="product-img" class="order__product-image">
              <p class="order__big-text product-name">{{ product.name }}</p>
              <p class="order__product-chars">{{ product.weight }}г. {{ product.amount }} шт.</p>
              <p class="order__product-composition">{{ product.composition }}</p>
            </div>
            <p class="order__big-text">{{ product.price }}₽</p>
            <div class="order__product-control">
              <a href="{% url 'app_cart:cart_remove_product' product.id %}" class="order__bin-link">
                <img src="{% static 'svg/app_cart/bin.svg' %}" alt="bin">
              </a>
              <div class="order__quantity-control">
                <a href="{% url 'app_cart:cart_remove_unit_of_product' product.id %}" class="order__quantity-control-link">
                  <img src="{% static 'svg/app_cart/minus-icon.svg' %}" alt="minus" class="order__minus-icon">
                </a>
                <p class="order__big-text amount-counter">{{ item.quantity }}</p>
                <a href="{% url 'app_cart:cart_add_product' product.id %}" class="order__quantity-control-link">
                  <img src="{% static 'svg/app_cart/plus-icon.svg' %}" alt="plus">
                </a>
              </div>
            </div>
          </div>
        {% endwith %}
      {% empty %}
        <p class="order__empty-cart-text">Корзина пуста, закажите что-нибудь</p>
      {% endfor %}
    </div>
    <p class="order__big-text">Итого:</p>
    <p class="order__big-text">{{ cart.get_total_price }}₽</p>
  </div>
  {% if cart %}
    <div class="address">
      <p class="address__big-text">Адрес</p>
      <form method="post" class="address__form">
        {% csrf_token %}
        <div class="address__input-block">
          <label for="id_name" class="address__label input-required">Ваше имя</label>
          <input type="text" name="name" maxlength="50" required id="id_name" class="address__input">
        </div>
        <div class="address__input-block">
          <label for="id_email" class="address__label input-required">Электронная почта</label>
          <input type="email" name="email" maxlength="254" required id="id_email" class="address__input">
        </div>
        <div class="address__input-block">
          <label for="id_phone_number" class="address__label input-required">Номер телефона</label>
          <input type="text" name="phone_number" maxlength="20" required id="id_phone_number" class="address__input" placeholder="+7(___)___-__-__">
        </div>
        <div class="address__input-block">
          <label for="id_city" class="address__label input-required">Город</label>
          <input type="text" name="city" maxlength="50" required id="id_city" class="address__input">
        </div>
        <div class="address__input-block">
          <label for="id_street" class="address__label input-required">Улица</label>
          <input type="text" name="street" maxlength="50" required id="id_street" class="address__input">
        </div>
        <div class="address__input-block">
          <label for="id_house" class="address__label input-required">Дом</label>
          <input type="number" name="house" min="0" required id="id_house" class="address__input">
        </div>
        <div class="address__input-block">
          <label for="id_flat" class="address__label input-required">Квартира</label>
          <input type="number" name="flat" min="0" required id="id_flat" class="address__input">
        </div>
        <div class="address__input-block">
          <label for="id_floor" class="address__label">Этаж</label>
          <input type="number" name="floor" min="0" id="id_floor" class="address__input">
        </div>
        <div class="address__input-block">
          <label for="id_intercom" class="address__label">Домофон</label>
          <input type="text" name="intercom" maxlength="20" id="id_intercom" class="address__input">
        </div>
        <div class="address__input-block">
          <label for="id_payment_method" class="address__label">Способ оплаты</label>
          <select name="payment_method" id="id_payment_method" class="address__input input-select">
            <option value="card_o" selected>Оплата картой онлайн</option>
            <option value="card_c">Оплата картой курьеру</option>
            <option value="cash">Оплата наличными курьеру</option>
          </select>
        </div>
        <div class="address__price-block">
          <p class="address__big-text">К оплате:</p>
          <p class="address__big-text big-text-pink">{{ cart.get_total_price }}₽</p>
        </div>
        <div class="address__input-block">
          <input type="submit" value="Заказать" class="address__order-button">
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}
