{% extends "base.html" %}
{% load static %}

{% block title %}
  Бесплатная доставка суши, роллов | Ninja Sushi - Корзина
{% endblock %}

{% block content %}
  <div class="order">
    <p class="order__big-text">Мой заказ</p>
    <a href="{% url 'app_cart:cart_clear' %}" class="order__clear-cart-link">Очистить корзину</a>
    <div class="order__cards">
      {% for item in cart %}
        {% with product=item.product %}
          <div class="order__product-card">
            <div class="order__product-description">
            <img src="{{ product.image.url }}" alt="product-img" class="order__product-image">
              <p class="order__big-text product-name">{{ product.name }}</p>
              <p class="order__product-chars">{{ product.weight }}г. {{ product.amount }} шт.</p>
              <p class="order__product-composition">{{ product.composition }}</p>
            </div>
            <p class="order__big-text">{{ product.price }}₽</p>
            <div class="order__product-control">
              <a href="{% url 'app_cart:cart_remove_product' product.id %}" class="order__bin-link">
                <img src="{% static 'svg/app_cart/bin.svg' %}" alt="bin">
              </a>
              <div class="order__quantity-control">
                <a href="{% url 'app_cart:cart_remove_unit_of_product' product.id %}" class="order__quantity-control-link">
                  <img src="{% static 'svg/app_cart/minus-icon.svg' %}" alt="minus" class="order__minus-icon">
                </a>
                <p class="order__big-text amount-counter">{{ item.quantity }}</p>
                <a href="{% url 'app_cart:cart_add_product' product.id %}" class="order__quantity-control-link">
                  <img src="{% static 'svg/app_cart/plus-icon.svg' %}" alt="plus">
                </a>
              </div>
            </div>
          </div>
        {% endwith %}
      {% empty %}
        <p class="order__empty-cart-text">Корзина пуста, закажите что-нибудь</p>
      {% endfor %}
    </div>
    <p class="order__big-text">Итого:</p>
    <p class="order__big-text">{{ cart.get_total_price }}₽</p>
  </div>
  {% if cart %}
    <div class="address">
      <p class="address__big-text">Адрес</p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Заказать"></p>
      </form>
    </div>
  {% endif %}
{% endblock %}
