{% extends 'base.html' %}
{% load static %}

{% block title %}
  Бесплатная доставка суши, роллов | Ninja Sushi - Личный кабинет
{% endblock %}

{% block css-link %}
  {% static 'css/app_accounts/personal_account.css' %}
{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
    <div class="account">
      <h2 class="big-text">Личный кабинет</h2>
      <a href="{% url 'app_accounts:logout' %}" class="big-text account__link">
        Выйти <img src="{% static 'svg/app_accounts/opened-door-aperture-svgrepo-com.svg' %}" alt="door">
      </a>
      {% with user=request.user %}
        <div class="form">
          <div class="form-item">
            <p class="big-text fw500 fs22">Логин</p>
            <div class="input-field">
              {{ user.username }}
            </div>
          </div>
          <div class="form-item">
            <p class="big-text fw500 fs22">Имя</p>
            <div class="input-field">
              {{ user.first_name }}
            </div>
          </div>
          <div class="form-item">
            <p class="big-text fw500 fs22">Номер телефона</p>
            <div class="input-field">
              {{ user.phone_number }}
            </div>
          </div>
          <div class="form-item">
            <p class="big-text fw500 fs22">Дата рождения</p>
            <div class="input-field">
              {{ user.date_of_birth }}
            </div>
          </div>
          <div class="form-item">
            <p class="big-text fw500 fs22">Электронная почта</p>
            <div class="input-field">
              {{ user.email }}
            </div>
          </div>
        </div>
      {% endwith %}
    </div>
    <div class="orders">
      <h2 class="big-text">История заказов</h2>
      <div class="orders__container">
        {% if orders %}
          <table class="orders__table">
            <thead>
              <tr class="orders__table-title">
                <td>Дата</td>
                <td>Номер заказа</td>
                <td>Статус</td>
                <td>Сумма заказа</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
                <tr class="orders__table-row">
                  <td>{{ order.created }}</td>
                  <td>#{{ order.id }}</td>
                  <td>{% if order.paid %}Оплачен{% else %}Не оплачен{% endif %}</td>
                  <td>{{ order.get_total_cost }}₽</td>
                  <td>
                    <img src="{% static 'svg/app_accounts/eye-svgrepo-com.svg' %}" alt="eye" onclick="location.href='{% url 'app_shop:main_page' %}'">
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="big-text fw500 fs22 gray-text">На данный момент заказов нет :(</p>
        {% endif %}
      </div>
    </div>
  {% else %}
    <p>You are not authenticated</p>
  {% endif %}
{% endblock %}
