{% extends 'base.html' %}
{% load static %}

{% block title %}
  Бесплатная доставка суши, роллов | Ninja Sushi - Личный кабинет
{% endblock %}

{% block css-link %}
  {% static 'css/app_accounts/personal_account.css' %}
{% endblock %}

{% block content %}
  <div class="account">
  <p class="big-text">Регистрация</p>
    <form method="post" class="form">
      {% csrf_token %}
      <div class="form-item">
        <label for="{{ form.username.id_for_label }}" class="big-text fw500 fs22 field-required">Логин</label>
        {{ form.username }}
        {{ form.username.errors }}
      </div>
      <div class="form-item">
        <label for="{{ form.password1.id_for_label }}" class="big-text fw500 fs22 field-required">Пароль</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
      </div>
      <div class="form-item">
        <label for="{{ form.password2.id_for_label }}" class="big-text fw500 fs22 field-required">Повторите пароль</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
      </div>
      <div class="form-item">
        <label for="{{ form.first_name.id_for_label }}" class="big-text fw500 fs22">Имя</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
      </div>
      <div class="form-item">
        <label for="{{ form.email.id_for_label }}" class="big-text fw500 fs22">Электронная почта</label>
        {{ form.email }}
        {{ form.email.errors }}
      </div>
      <div class="form-item">
        <label for="{{ form.phone_number.id_for_label }}" class="big-text fw500 fs22">Номер телефона</label>
        {{ form.phone_number }}
        {{ form.phone_number.errors }}
      </div>
      <div class="form-item">
        <label for="id_date_of_birth" class="big-text fw500 fs22">Дата рождения</label>
        <input type="date" name="date_of_birth" class="input-field" id="id_date_of_birth">
        {{ form.date_of_birth.errors }}
      </div>
      <button type="submit" class="big-text fw500 fs22 submit-button">Войти</button>
    </form>
  </div>
{% endblock %}